<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!--<system.net>
    <mailSettings>
      <smtp from="noreply@iits.pro">
        <network host="smtp.gmail.com" port="587" enableSsl="true" password="iits_123@456" userName="noreply@iits.pro" />
      </smtp>
    </mailSettings>
  </system.net>-->
  <system.net>
    <mailSettings>
      <!-- <smtp from="support@wejustlink.ca">
        <network host="mail.wejustlink.ca" port="25" enableSsl="false" password="Yasmin@55" userName="support@wejustlink.ca" />
      </smtp>-->
      <smtp from="noreply@billtransact.com">
        <network host="mail.billtransact.com" port="25" enableSsl="false" password="mykamil@2019" userName="noreply@billtransact.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="InvoiceNoStart" value="000001"/>
    <add key="RecurringNoStart" value="567890"/>
    <add key="SuccessAdminURL" value="http://www.billtransact.com/BillTransact/Success.aspx"/>
    <add key="FailedAdminURL" value="http://www.billtransact.com/BillTransact/Cancel.aspx"/>
    <!--<add key="SuccessClientURL" value="http://www.billtransact.com/Client/SuccessClient.aspx"/>-->
    <add key="SuccessClientURL" value="http://www.billtransact.com/PaymentSuccess.aspx"/>
    <add key="FailedClientURL" value="http://www.billtransact.com/Client/CancelClient.aspx"/>
  </appSettings>
  <connectionStrings>
    <add name="DABL.Properties.Settings.IITS_CloudAccountConnectionString" connectionString="Data Source=sql5059.site4now.net;Initial Catalog=DB_A57286_billtransactN;User ID=DB_A57286_billtransactN_admin;Password=montreal@55" providerName="System.Data.SqlClient"/>
    <add name="IITS_CloudAccountConnectionString" connectionString="Data Source=sql5059.site4now.net;Initial Catalog=DB_A57286_billtransactN;User ID=DB_A57286_billtransactN_admin;Password=montreal@55" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto">
      <remove statusCode="404"/>
      <error statusCode="404" responseMode="Redirect" path="../ErrorPage.aspx"/>
    </httpErrors>
  </system.webServer>
 
  
  
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5.2" executionTimeout="1200" maxRequestLength="102400"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/MemberArea.aspx" timeout="2880"  defaultUrl="~/"/>
    </authentication>
    <authorization>
      <allow roles="Admin,Employee,CompanyClient,Contractor,MasterAdmin,SuperAdmin,Accountant"/>
      <deny users="*"/>
    </authorization>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" applicationName="CloudAccount" connectionStringName="IITS_CloudAccountConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Clear" minRequiredPasswordLength="3" passwordAttemptWindow="10" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" applicationName="CloudAccount" connectionStringName="IITS_CloudAccountConnectionString" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MobileTranzactServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.mobiletranzact.com/Service/MobileTranzactService.asmx" binding="basicHttpBinding" bindingConfiguration="MobileTranzactServiceSoap" contract="com.mobiletranzact.www.MobileTranzactServiceSoap" name="MobileTranzactServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: BB85661F-1E6D-43DC-B982-E26F23DC4319-->